<h3> component: {{name}} </h3>
<p><strong> Idname: <span class="blue"> {{username}} </span></strong></p>
<div><strong> Email: <span class="blue"> {{useremail}} </span></strong></div>
<p><strong> Adressa: <span class="blue"> {{address.street}}, {{address.city}}, {{address.state}} </span></strong></p>

<h3>Edit User</h3>
<form>
    <label> UserName: </label>
    <input type="text" name="username" [(ngModel)]="username" /><br/>
    <!-- or without name attribute
    <input  [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/><br/>
    -->
    <label> UserEmail: </label>
    <input type="text" name="useremail" [(ngModel)]="useremail" /><br/>
    <label> Street: </label>
    <input type="text" name="address.street" [(ngModel)]="address.street" /><br/>
    <label> City: </label>
    <input type="text" name="address.city" [(ngModel)]="address.city" /><br/>
    <label> State: </label>
    <input type="text" name="address.state" [(ngModel)]="address.state" /><br/>
</form>

<!--(click)-->
<br />
<hr/>
<button (click)="toggleHobbies()"> {{showHobbies ? "Hide Hobbies" : "Show Hobbies"}} </button>

<!--*ngIf-->
<div *ngIf="showHobbies">
    <h4> Hobbies (showhobbies is true) </h4>
    <!--{{hobbies}}-->
    <ul>
        <!--*ngFor-->
        <li *ngFor="let hobby of hobbies; let i = index">
            <button title="delete" (click)="deleteHobby(i)"> X </button> {{hobby}}
        </li>
    </ul>
    <form (submit)="addHobby(hobby.value)">
        <label> Add Hobby: </label>
        <input type="text" #hobby /> Press Enter to add...<br/>
    </form>
</div>

<!--(click)-->
<br />
<hr/>
<button (click)="togglePosts()"> {{showPosts ? "Hide Posts" : "Show Posts"}} </button>

<!--{{posts}} observables -->
<div *ngIf="showPosts">
    <h3>Posts (showPosts is true)</h3>
    <h3>Posts observables using get from service https://jsonplaceholder.typicode.com/posts</h3>
    <div *ngFor="let post of posts">
        <h3> {{post.id}}.{{post.title}} </h3>
        <p> {{post.body}} </p>
    </div>
</div>